
//background 
$bg-primary: #fff;
$bg-secondary: #1565c0;

//color
$color-primary: #fff;
$color-secondary: #666;

//text-color
$txt-color-primary: #fff;
$txt-color-secondary: #666;


//font
$fontFamily: "Roboto";

//border
$borderDefault: 1px solid #ddd;
$borderBtn: 1px solid #1976d2;

//border-radius
$borderRadiusDefault: 6px;
$borderRadiusBtn: 8px; 

//padding

//margin

//transition
$transitionDefault: all ease 0.5s;
